.productsHeader {
    border-bottom: 1px solid #e7e7e7;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerInner {
    display: flex;
    padding: 0 32px;
}

.header {
    display: flex;
    padding-bottom: 24px;
    padding-top: 24px;
    position: relative;
    width: 100%;
    color: #101111;
    font-weight: bold;
    font-size: 30px;
}