.mainContainer {
    padding: 0 32px;
    display: flex;
    margin: 44px -18px 0;
}

.loadingBarContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionProducts {
    width: 100%;
}